* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.square {
    width: 29%;
    background-color: aqua;
    padding-bottom: 29%;
    margin: 2%;
    border-radius: 20%;
    float: left;
    transition: background 0.8s;
    transition: border-radius 0.8s;
}

.square.winner {
    background: gold;
}

.square.loser {
    background: gray;
}